In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1]:
#### Load Data

In [7]:
df_sample_train = pd.read_csv("../data/mnt 2/ssd/kaggle-talkingdata2/competition_files/train_sample.csv")
df_train = df_sample_train.copy()
del df_sample_train

In [8]:
df_train.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [25]:
print("App count:",df_train.app.unique().shape[0])
print("Channel count:",df_train.channel.unique().shape[0])
print("OS count:",df_train.os.unique().shape[0])
print("Device count:",df_train.device.unique().shape[0])

('App count:', 161)
('Channel count:', 161)
('OS count:', 130)
('Device count:', 100)

array([ 13,  17,  19,   1,  25,  22,  20,   2,  90,  10,  18,  40,  15,
        27,  23,  53,  49,  37,  26,  41,   8,  11,   9,  14,  28,  47,
         3,   6,  97,   4,  31,  16,  30,  32,  12,  46, 866,  65,  55,
        29,  42,  39,  34, 607,  79,  35,  44,   7,   0, 748,  36,  99,
        43,  21,  64,  58,  50,  24,  66,  57, 109,  70,  98, 836,  56,
       108,  76, 137,  48,   5,  38,  63, 100,  62,  96,  88,  73,  74,
       138,  45,  84,  52,  61, 172,  59,  81, 102,  77,  78,  60, 153,
        80, 118,  69,  85, 151,  68, 178, 113, 192, 135, 198,  83, 112,
        67, 132,  71, 142, 117, 111, 168, 106, 110, 129, 127, 107, 152,
       155, 199, 133, 116,  92, 196,  87, 174, 207, 184, 114, 185, 193])